<!DOCTYPE html>
<html>
  <head>
    <title>Ada Online Books</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Welcome To Books App!</h1>
    <nav>
      <ul>
        <li><a href=<%= books_path %>>All Books</a></li>
        <li><a href=<%= new_book_path %>>New Book</a></li>
        <li>
          <% unless session[:user_id] %>
            <%= link_to "Login using GitHub", "/auth/github" %>
          <% else %>
            <%= link_to "Logout", logout_path, method: :delete %>
          <% end %>
        </li>
      </ul>
    </nav>
    <section class="flash">
      <% flash.each do |name, message| %>
        <div class="<%= name %>"><%= message %></div>
      <% end %>
    </section>

    <%= yield %>
  </body>
</html>
